:root {
    --bodyColor: #bbced4;
    --footerColor: #343a40;
}

body {
    background-color: var(--bodyColor);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./img/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
}

html, body, footer {
    width: 1024px;
    margin: auto;
}

nav li {
    padding: 20px;
    display: inline-block;
}

.li-header {
    color: antiquewhite;
    height: 70px;
}

#ol-nav {
    background-color: #343a40;
}

.li-nav {
    background-color: #6c757d;
    vertical-align: top;
    height: 70px;
}

.li-nav1 {
    margin-left: 200px;
}

.ul-nav {
    background-color: #62945a;
}

nav a {
    text-decoration: none;
    color: #052153;
}

.li-nav-index {
    background-color: #6c757d;
    float: right;
    height: 70px;
}

/*
    Main container
 */
.main-container {
    width: 1024px;
    background-color: #ced4e7;
    margin: auto;
    border-radius: 20px;
}

form {
    padding-right: 30%;
}

/*
    Buttons and input form
 */
#user-login-txt {
    margin-left: 25px;
    text-transform: uppercase;
}

.button {
    background-color: #557aea;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.resetBtn {
    border-radius: 12px;
}

.submitBtn {
    border-radius: 12px;
}

input[type=text], input[type=password] {
    width: 250px;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

.input-form {
    border-radius: 12px;
}

/*
    Footer
 */
footer {
    position: fixed;
    bottom: 0;
    background: var(--footerColor);
    height: 50px;
    color: #ffffff;
    text-align: center;
}

#footer-info {
    margin-top: 15px;
}