:root {
    --bodyColor: #bbced4;
    --footerColor: #75667c;
}


body {
    background-color: var(--bodyColor);
    font-family: Arial, Helvetica, sans-serif;
}

html, body, footer {
    width: 1024px;
    margin: auto;
}

/*
li, #site-name {
    display: inline;
}
 p::first-letter { text-transform: uppercase;
 */
/*
li {
    display: inline;
}
*/
/*
.title li {
    display: inline;
}

#logo-id {
    display: inline;
}
*/

nav li {
    padding: 20px;
    display: inline-block;
}

.li-header {
    background-color: #81947e;
}

#ol-nav {
    background-color: #75667c;
}

.li-nav {
    background-color: #81947e;

    margin-left: 100px;

    /*
    margin-left: auto;
    margin-right: auto;
    */
}

.ul-nav {
    background-color: #62945a;
}

nav a {
    text-decoration: none;
}

.li-nav-index {
    background-color: #62945a;
    float: right;
    height: 70px;
}

/*
    Main container
 */
.main-container {
    width: 1024px;
    background-color: #ced4e7;
    margin: auto;
}

form {
    padding-right: 30%;
}


/*
    Buttons and input form
 */
#user-login-txt {
    margin-left: 25px;
    text-transform: uppercase;
}


.button {
    background-color: #557aea;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.resetBtn {
    border-radius: 12px;
}

.submitBtn {
    border-radius: 12px;
}

input[type=text], input[type=password] {
    width: 250px;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}


/*
    Footer
 */
footer {
    position: fixed;
    bottom: 0;
    background: var(--footerColor);
    /*
    padding: 50px 50px;
    */
    height: 50px;
    color: #ffffff;
    text-align: center;
}